{% extends 'myapp/base.html' %}
{% block body %}
    <div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
            <h3 class="">Add book</h3>
            <div class="mt-3">
                <label>title:</label>
                {{ form.title }}
            </div>
            <div class="mt-3">
                <label>price:</label>
                {{ form.price }}
            </div>
            <div class="mt-3">
                <label>description:</label>
                {{ form.description }}
            </div>
            <div class="mt-3">
                <label>author:</label>
                {{ form.author }}
            </div>
            <div class="mt-3">
                <label>file:</label>
                {{ form.file }}
            </div>
        <button class="mt-3" type="submit">Add</button>
        </form>
    </div>
</div>
{% endblock %}