{% extends 'myapp/base.html' %}
{% block body %}
    <form enctype="multipart/form-data" method="POST">
    <div class="row d-flex justify-content-center border border-primary">
        <div class="card border border-secondary">
            <div class="row border border-primary">

                    {% csrf_token %}
                <div class="col-md-4 my-auto">
                    <img src="{{ form.instance.file.url }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                        <div class="card-body">
                            <div class="">
                                <label>title:</label>
                                {{ form.title }}
                            </div>
                            <div class="mt-2">
                                <label>price:</label>
                                {{ form.price }}
                            </div>
                            <div class="mt-2">
                                <label>description:</label>
                                {{ form.description }}
                            </div>
                            <div class="mt-2">
                                <label>created:</label>
                                {{ book.created }}
                            </div>
                            <div class="mt-2">
                                <label>modified:</label>
                                {{ book.modified }}
                            </div>
                            <div class="d-grid col-6 mx-auto mt-2">
                                <button type="submit">SAVE</button>
                            </div>
                        </div>

                </div>

            </div>
        </div>
    </div>
    </form>
{% endblock %}


