{% extends 'myapp/base.html' %}
{% load static %}
{% block body %}

<div class="container row mt-4">
<!--COLUMN WITH FILTERS-->
    <div class="col-12 col-md-4 text-center">

<!--    KATEGORIE-->
        <div class="row text-start mt-1 mb-3">
            <p class="text-start fs-4 fw-bold">
                Kategorie
            <button onclick="clearSessionStorageButton()" class="btn">
                Wyczyść filtry
            </button>
            </p>
            <div class="text-start">
                <input name="category" value="akcja" class="form-check-input-category border border-secondary" type="checkbox" id="akcja">
                <label class="form-check-label" for="akcja">
                Akcja
                </label>
            </div>
            <div class="text-start">
                <input name="category" value="przygoda" class="form-check-input-category border border-secondary" type="checkbox" id="przygoda">
                <label class="form-check-label text-start" for="przygoda">
                Przygoda
                </label>
            </div>
            <div class="text-start">
                <input name="category" value="historia" class="form-check-input-category border border-secondary" type="checkbox" id="historia">
                <label class="form-check-label" for="historia">
                Historia
                </label>
            </div>
            <div class="text-start">
                <input name="category" value="komedia" class="form-check-input-category border border-secondary" type="checkbox" id="komedia">
                <label class="form-check-label" for="komedia">
                Komedia
                </label>
            </div>
        </div>
<!--    END        -->

<!--    ACCESSIBILITY-->
        <div class="row text-start mb-3">
            <p class="text-start fs-5 fw-bold">Dostępność</p>
            <div class="text-start">
                <input name="accessibility" class="form-check-input-author border border-secondary" type="checkbox" value="24h" id="send_24h">
                <label class="form-check-label-author" for="send_24h">
                Wysyłamy w 24 h
                </label>

            </div>
            <div class="text-start">
                <input name="accessibility" class="form-check-input-author border border-secondary" type="checkbox" value="3d" id="send_3days">
                <label class="form-check-label text-start" for="send_3days">
                Wysyłamy w 3 dni
                </label>

            </div>
            <div class="text-start">
                <input name="accessibility" class="form-check-input-author border border-secondary" type="checkbox" value="7d" id="send_5days">
                <label class="form-check-label" for="send_5days">
                Wysyłamy w 5-7 dni
                </label>

            </div>
            <div class="text-start">
                <input name="accessibility" class="form-check-input-author border border-secondary" type="checkbox" value="10d" id="send_10days">
                <label class="form-check-label" for="send_10days">
                Wysyłamy w 10 dni
                </label>
            </div>
        </div>
<!--    END-->

<!--    TREND-->
        <div class="row text-start mb-3">
            <p class="text-start fs-5 fw-bold">TOP</p>
            <div class="text-start">
                <input name="trend" class="form-check-input-author border border-secondary" type="checkbox" value="week" id="top_week">
                <label class="form-check-label-author" for="top_week">
                Tygodnia
                </label>

            </div>
            <div class="text-start">
                <input name="trend" class="form-check-input-author border border-secondary" type="checkbox" value="month" id="top_month">
                <label class="form-check-label text-start" for="top_month">
                Miesiąca
                </label>

            </div>
            <div class="text-start">
                <input name="trend" class="form-check-input-author border border-secondary" type="checkbox" value="year" id="top_year">
                <label class="form-check-label" for="top_year">
                Bieżącego roku
                </label>

            </div>
            <div class="text-start">
                <input name="trend" class="form-check-input-author border border-secondary" type="checkbox" value="lastYear" id="top_last_year">
                <label class="form-check-label" for="top_last_year">
                Zeszłego roku
                </label>
            </div>
        </div>
<!--    END-->

<!--    NEWSNESS-->
        <div class="row text-start mb-3">
            <p class="text-start fs-5 fw-bold">NOWOSC</p>
            <div class="text-start">
                <input name="newness" class="form-check-input-author border border-secondary" type="checkbox" value="yes" id="new_yes">
                <label class="form-check-label-author" for="new_yes">
                Tak
                </label>
            </div>
        </div>
<!--    END-->

<!--    AUTORZY-->
        <div class="row text-start mb-3">
            <p class="text-start fs-4 fw-bold">Autorzy</p>
            <div class="text-start">
                <input name="author" value="Mickiewicz" class="form-check-input-author border border-secondary" type="checkbox" id="Mickiewicz">
                <label class="form-check-label-author" for="Mickiewicz">
                Mickiewicz
                </label>

            </div>
            <div class="text-start">
                <input name="author" value="Skarga" class="form-check-input-author border border-secondary" type="checkbox" id="Skarga">
                <label class="form-check-label text-start" for="Skarga">
                Skarga
                </label>

            </div>
            <div class="text-start">
                <input name="author" value="Baczynski" class="form-check-input-author border border-secondary" type="checkbox" id="Baczynski">
                <label class="form-check-label" for="Baczynski">
                Baczyński
                </label>

            </div>
            <div class="text-start">
                <input name="author" value="Sienkiewicz" class="form-check-input-author border border-secondary" type="checkbox" id="Sienkiewicz">
                <label class="form-check-label" for="Sienkiewicz">
                Sienkiewicz
                </label>
            </div>
        </div>
<!--    END        -->

<!--    STARS-->
        <div class="row text-start mb-3">
            <p class="text-start fs-4 fw-bold">Ocena</p>
            <div class="text-start">
                <input name="stars" class="form-check-input-author" type="checkbox" value="5" id="five_star">
                <label class="form-check-label-author" for="five_star">
                5 gwiazdek <i style="color: gold;" class="fa fa-star fa-5" aria-hidden="true"></i>
                    <i style="color: gold;" class="fa fa-star fa-5" aria-hidden="true"></i>
                    <i style="color: gold;" class="fa fa-star fa-5" aria-hidden="true"></i>
                    <i style="color: gold;" class="fa fa-star fa-5" aria-hidden="true"></i>
                    <i style="color: gold;" class="fa fa-star fa-5" aria-hidden="true"></i>
                </label>

            </div>
            <div class="text-start">
                <input name="stars" class="form-check-input-author" type="checkbox" value="4" id="four_star">
                <label class="form-check-label text-start" for="four_star">
                4 gwiazdek <i style="color: gold;" class="fa fa-star fa-5" aria-hidden="true"></i>
                    <i style="color: gold;" class="fa fa-star fa-5" aria-hidden="true"></i>
                    <i style="color: gold;" class="fa fa-star fa-5" aria-hidden="true"></i>
                    <i style="color: gold;" class="fa fa-star fa-5" aria-hidden="true"></i>
                </label>

            </div>
            <div class="text-start">
                <input name="stars" class="form-check-input-author" type="checkbox" value="3" id="three_star">
                <label class="form-check-label" for="three_star">
                3 gwiazdek <i style="color: gold;" class="fa fa-star fa-5" aria-hidden="true"></i>
                    <i style="color: gold;" class="fa fa-star fa-5" aria-hidden="true"></i>
                    <i style="color: gold;" class="fa fa-star fa-5" aria-hidden="true"></i>
                </label>

            </div>
            <div class="text-start">
                <input name="stars" class="form-check-input-author" type="checkbox" value="2" id="two_star">
                <label class="form-check-label" for="two_star">
                2 gwiazdek <i style="color: gold;" class="fa fa-star fa-5" aria-hidden="true"></i>
                    <i style="color: gold;" class="fa fa-star fa-5" aria-hidden="true"></i>
                </label>
            </div>
            <div class="text-start">
                <input name="stars" class="form-check-input-author" type="checkbox" value="1" id="one_star">
                <label class="form-check-label" for="one_star">
                1 gwiazdka <i style="color: gold;" class="fa fa-star fa-5" aria-hidden="true"></i>
                </label>
            </div>
        </div>
<!--    END-->

<!--    PRICE INPUTS-->
        <div class="row mt-1 mb-3">
            <p class="text-start fs-4 fw-bold">Cena</p>
            <div class="col">
                <input id="minRange" name="minRange" class="form-control rounded-pill" type="number" step="1" placeholder="min">
<!--                <input type="range" class="form-range mt-2" min="0" max="200" step="1" id="customRange1">-->
            </div>
            <div class="col">
                <input id="maxRange" name="maxRange" class="form-control rounded-pill" type="number" step="1" placeholder="max">
<!--                <input type="range" class="form-range mt-2" min="0" max="200" step="1" id="customRange2">-->
            </div>
        </div>
<!--    END-->

<!--    BUTTON-->
        <div class="d-grid mt-2 mb-3">
            <button onclick="applyFilters()" class="btn btn-danger rounded-pill text-nowrap" type="button">
                POKAŻ WYNIKI
                <i class="fa fa-search"></i>
            </button>
        </div>
<!--    END-->
    </div>
<!--END-->
    <div class="col-12 col-md-8 text-center">

<!--    SORTING OPTION-->
        <div class="" style="height:60px;">
            <div class="d-flex border border-danger justify-content-end align-items-center text-bg-danger" style="font-family:Rosario; font-size:14px;">
                Sortuj według:
                <select id="sort-options" class="form-select-sm justify-content-end rounded-pill">
                    <option value="default">Sortowanie</option>
                    <option value="title_asc" {% if sorting_method == 'title_asc' %}selected{% endif %}>Tytuł rosnąco</option>
                    <option value="title_desc" {% if sorting_method == 'title_desc' %}selected{% endif %}>Tytuł malejąco</option>
                    <option value="price_asc" {% if sorting_method == 'price_asc' %}selected{% endif %}>Cena rosnąco</option>
                    <option value='price_desc' {% if sorting_method == "price_desc" %}selected{% endif %}>Cena malejąco</option>
                </select>
            </div>
        </div>
<!--    END-->

<!--    LOOP OF CARDS-->
        <div class="row row-cols-2 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4" id="books-container">
            {% for book in page_obj %}
            <div class="card d-flex flex-column" style="border:none;">
                <a href="{% url 'show_book' book.id %}">
                    <img src="{{ book.file.url }}" class="card-img-top" alt="" style="width: 80%;">
                </a>
                <div class="text-start py-2">
                    <h5 class="card-subtitle fw-bold fs-6">{{book.title}}</h5>
                    <p class="card-subtitle">
                        <a class="custom-link bg-toogle" style="font-size:12px;" href="{% url 'author_site' book.author %}">{{ book.author }}</a>
                    </p>
                    <p class="card-subtitle fw-bold fs-5">{{ book.price }} zł</p>
                </div>
                <button onclick="addToCart({{ book.id }})" class="btn btn-sm btn-danger text-nowrap mt-auto rounded-pill">
                    Dodaj do koszyka
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            {% endfor %}
        </div>
<!--    END-->

<!--    PAGINATOR-->
        <nav id="books-nav" class="pt-3" aria-label="Page navigation example">
            <ul id="nav-ul" class="pagination justify-content-end">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <button class="page-link" onclick="decreaseAndExecuteFunction({{ page_obj.page_number }})" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </button>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <button class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </button>
                </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                    <button class="page-link" onclick="applyFilters({{ num }})">{{ num }}</button>
                </li>
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <button class="page-link" onclick="increaseAndExecuteFunction({{ page_obj.number }})" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </button>

                </li>
                {% else %}
                <li class="page-item disabled">
                    <button class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </button>
                </li>
                {% endif %}
            </ul>
        </nav>
<!--    END-->
    </div>
</div>


{% endblock %}