{% extends 'myapp/base.html' %}
{% load static %}
{% block body %}

<div id="carouselExampleCaptions" class="carousel slide mx-auto">
    <div class="carousel-indicators">
        <button type="button"  data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item carousel-item-tt active">
            <img src="{% static 'carousel_sale.jpg' %}" class="d-block w-100" alt="..." height="400">
            <div class="carousel-caption d-none d-md-block text-white">
                <h5>Wyprzedaż</h5>
                <p>Wielka wyprzedaż w naszej księgarni!</p>
            </div>
        </div>
        <div class="carousel-item carousel-item-tt">
            <img src="{% static 'carousel_meeting.jpg' %}" class="d-block w-100" alt="..." height="400">
            <div class="carousel-caption d-none d-md-block text-white">
                <h5>Dołącz do nas</h5>
                <p>Załóż bezpłatne konto w naszej księgarni</p>
            </div>
            </div>
        <div class="carousel-item carousel-item-tt">
            <img src="{% static 'carousel_library.jpg' %}" class="d-block w-100" alt="..." height="400">
            <div class="carousel-caption d-none d-md-block text-white">
                <h5>Brakuje jakieś książki?</h5>
                <p>Zgłoś się do nas a uzupełnimy braki</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" style="width:5%;" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next" >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!--PROMOCJE-->
<div class="row row-cols-2 row-cols-md-4 gx-4 py-2 mb-2">
    <div class="col text-center">
        <div class="row d-flex justify-content-center align-items-center" style="height: 100px;">
            <div class="col-6">
                <img width="70" height="70" src="{% static 'icons8-sale-100.png' %}" class="img-fluid rounded-start" alt="sale-price-tag"/>
            </div>
            <div class="col-6">
                <h5 class="card-title">Promocje</h5>
            </div>
        </div>
    </div>
    <div class="col text-center">
        <div class="row d-flex justify-content-center align-items-center" style="height: 100px;">
            <div class="col-6">
                <img width="70" height="70" src="{% static 'icons8-time-100.png' %}" class="img-fluid rounded-start" alt="sale-price-tag"/>
            </div>
            <div class="col-6">
                <h5 class="card-title">Dostawa w 24h</h5>
            </div>
        </div>
    </div>
    <div class="col text-center">
        <div class="row d-flex justify-content-center align-items-center" style="height: 100px;">
            <div class="col-6">
                <img width="70" height="70" src="{% static 'icons8-return-100.png' %}" class="img-fluid rounded-start" alt="sale-price-tag"/>
            </div>
            <div class="col-6">
                <h5 class="card-title">14 dni na zwrot</h5>
            </div>
        </div>
    </div>
    <div class="col text-center">
        <div class="row d-flex justify-content-center align-items-center" style="height: 100px;">
            <div class="col-6">
                <img width="70" height="70" src="{% static 'icons8-phone-100.png' %}" class="img-fluid rounded-start" alt="sale-price-tag"/>
            </div>
            <div class="col-6">
                <h5 class="card-title">Infolinia 9:00-17:00</h5>
            </div>
        </div>
    </div>
</div>

<div class="row" style="display: flex;">
<!--    REKLAMA-->
    <div class="col-sm-12 col-md-3 d-flex" style="flex-direction: column;">
        <div class="card w-75 bg-warning-subtle text-warning-emphasis mx-auto flex-fill">
            <div class="card-header text-center">
                Reklama
            </div>
            <div class="card-body d-flex flex-column text-center">
                    <img src="{% static 'icons8-ad-100.png' %}" class="mt-3 mx-auto" height="100" width="100">
                    <p class="fst-italic fw-semibold">Uwaga!</p>
                    <p class="fst-italic fw-semibold">Ta reklama</p>
                    <p class="fst-italic fw-semibold">może być</p>
                    <p class="fst-italic fw-semibold">Twoja!</p>
                    <button class="btn btn-warning btn-sm text-warning-emphasis mt-3 rounded-pill fst-italic">
                        sprawdź >>
                    </button>
            </div>
        </div>
    </div>
<!--    KARTY-->
    <div class="col-sm-12 col-md-9 text-center d-flex" style="flex-direction: column;">
            <div id="bookCarousel" class="container carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner flex-fill">
                    {% for book_group in grouped_books %}
                    <div class="carousel-item {% if forloop.first %} active {% endif %}">
                        <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 g-4" id="books-container">
                            {% for book in book_group %}
                            {% if book %}
                            <div class="card d-flex flex-column " style="border:none;">
                                <a href="{% url 'show_book' book.id %}">
                                    <img src="{{ book.file.url }}" class="card-img-top" alt="" style="width: 80%;">
                                </a>
                                <div class="text-start py-2">
                                    <h5 class="card-subtitle fw-bold fs-6">{{book.title}}</h5>
                                    <p class="card-subtitle">
                                        <a class="custom-link bg-toogle" style="font-size:12px;" href="{% url 'author_site' book.author %}">{{ book.author }}</a>
                                    </p>
                                    <p class="card-subtitle fw-bold fs-5">{{ book.price }} zł</p>
                                </div>
                                <button onclick="addToCart({{ book.id }})" class="btn btn-sm btn-danger text-nowrap mt-auto rounded-pill">
                                    Dodaj do koszyka
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button class="" type="button" data-bs-target="#bookCarousel" data-bs-slide="prev" style="
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 1%;
                    padding: 0;
                    color: none;
                    text-align: center;
                    background: none;
                    border: 0;
                    opacity: 0.5;
                    transition: opacity 0.15s ease;">
                    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="" type="button" data-bs-target="#bookCarousel" data-bs-slide="next" style="
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    z-index: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 1%;
                    padding: 0;
                    color: none;
                    text-align: center;
                    background: none;
                    border: 0;
                    opacity: 0.5;
                    transition: opacity 0.15s ease;">
    <!--                <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
    </div>
</div>

<hr class="featurette-divider mt-5">

<!--ZNAJDZ COS DLA SIEBIE-->
<div class="text-center fw-bold fs-2" style="font-family:Poppins;">
    Znajdź coś dla siebie
</div>
<div class="row row-cols-1 row-cols-md-3 mt-2 mb-5">
    <div class="col">
        <div class="card" style="height: 200px;">
            <img src="{% static 'reading-men.jpg' %}" style="width: 100%; height: 100%; object-fit: cover;" class="rounded" alt="...">
            <div class="d-flex justify-content-center align-items-center card-img-overlay">
                <a role="button" href="{% url 'for_men' %}" class="btn btn-light rounded-pill ">
                    Bestsellery dla mężczyzn
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="height: 200px;">
            <img src="{% static 'trees.jpg' %}" style="width: 100%; height: 100%; object-fit: cover;" class="rounded" alt="...">
            <div class="d-flex justify-content-center align-items-center card-img-overlay">
                <a role="button" href="{% url 'relation_books' %}" class="btn btn-light rounded-pill ">
                    Książki o relacjach
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="height: 200px;">
            <img src="{% static 'nowosci.png' %}" style="width: 100%; height: 100%; object-fit: cover;" class="rounded" alt="...">
            <div class="d-flex justify-content-center align-items-center card-img-overlay">
                <a role="button"  href="{% url 'premieres' %}" class="btn btn-light rounded-pill " style="font-size:12px;">
                    Nadchodzące premiery
                </a>
            </div>
        </div>
    </div>
</div>

<hr class="featurette-divider">



{% endblock %}