{% extends 'myapp/base.html' %}
{% load static %}
{% block body %}

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-expanded="false">
            Usługi
          </a>
          <div class="dropdown-menu dropdown-menu-nav p-3" aria-labelledby="navbarDropdown" style="width: 600px;">
            <div class="row">
              <div class="col-md-4">
                <h6>Kategoria 1</h6>
                <ul class="list-unstyled">
                  <li><a class="dropdown-item" href="#">Link 1</a></li>
                  <li><a class="dropdown-item" href="#">Link 2</a></li>
                  <li><a class="dropdown-item" href="#">Link 3</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <h6>Kategoria 2</h6>
                <ul class="list-unstyled">
                  <li><a class="dropdown-item" href="#">Link 4</a></li>
                  <li><a class="dropdown-item" href="#">Link 5</a></li>
                  <li><a class="dropdown-item" href="#">Link 6</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <h6>Kategoria 3</h6>
                <ul class="list-unstyled">
                  <li><a class="dropdown-item" href="#">Link 7</a></li>
                  <li><a class="dropdown-item" href="#">Link 8</a></li>
                  <li><a class="dropdown-item" href="#">Link 9</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="carouselExampleCaptions" class="carousel slide mx-auto py-3">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="{% static 'carousel_sale.jpg' %}" class="d-block w-100" alt="..." height="400">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Wyprzedaż</h5>
                    <p>Wielka wyprzedaż w naszej księgarni!</p>
                </div>
            </div>
        <div class="carousel-item">
        <img src="{% static 'carousel_meeting.jpg' %}" class="d-block w-100" alt="..." height="400">
            <div class="carousel-caption d-none d-md-block">
                <h5>Dołącz do nas</h5>
                <p>Załóż bezpłatne konto w naszej księgarni</p>
            </div>
        </div>
        <div class="carousel-item">
        <img src="{% static 'carousel_library.jpg' %}" class="d-block w-100" alt="..." height="400">
            <div class="carousel-caption d-none d-md-block">
            <h5>Brakuje jakieś książki?</h5>
            <p>Zgłoś się do nas a uzupełnimy braki</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="row row-cols-4 py-2">
    <div class="col d-flex align-items-center justify-content-center">
<!--        <i class="fa fa-book fa-2x" style="color:red" aria-hidden="True"></i> Polska literatura-->
        <img width="70" height="70" src="{% static 'icons8-sale-100.png' %}" alt="sale-price-tag"/> Promocje
    </div>
    <div class="col d-flex align-items-center justify-content-center">
<!--        <i class="fa fa-bus fa-2x" style="color:red" aria-hidden="True"></i> Dostawa zagraniczna-->
        <img width="70" height="70" src="{% static 'icons8-time-100.png' %}" alt="sale-price-tag"/>Dostawa w 24h
    </div>
    <div class="col d-flex align-items-center justify-content-center">
<!--        <i class="fa fa-shopping-bag fa-2x" style="color:red" aria-hidden="True"></i> 14 dni na zwrot-->
        <img width="70" height="70" src="{% static 'icons8-return-100.png' %}" alt="sale-price-tag"/> 14 dni na zwrot
    </div>
    <div class="col d-flex align-items-center justify-content-center">
<!--        <i class="fa fa-phone fa-2x" style="color:red" aria-hidden="True"></i> Infolinia 9:00 - 17:00-->
        <img width="70" height="70" src="{% static 'icons8-phone-100.png' %}" alt="sale-price-tag"/> Infolinia 9:00-17:00
    </div>
</div>

<div class="row">
    <div class="col-3 text-center py-3">
        <h3>KATEGORIE</h3>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td><a class="custom-link" href="{% url 'author_site' 'Baczynski' %}">Baczyński</a></td>
                </tr>
                <tr>
                    <td><a class="custom-link" href="{% url 'author_site' 'Mickiewicz' %}">Mickiewicz</a></td>
                </tr>
                <tr>
                    <td><a class="custom-link" href="{% url 'author_site' 'Sienkiewicz' %}">Sienkiewicz</a></td>
                </tr>
                <tr>
                    <td><a class="custom-link" href="{% url 'author_site' 'Skarga' %}">Skarga</a></td>
                </tr>
            </tbody>
        </table>
        <h3>ZNAJDZ NAS</h3>
        <div class="row row-cols-3 d-flex align-items-center">
            <div class="col">
                <a href="https://facebook.com">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M512 256C512 114.6 397.4 0 256 0S0 114.6 0 256C0 376 82.7 476.8 194.2 504.5V334.2H141.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H287V510.1C413.8 494.8 512 386.9 512 256h0z"/>
                    </svg>
                </a>
            </div>
            <div class="col">
                <a href="https://instagram.com">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
                    </svg>
                </a>
            </div>
            <div class="col">
                <a href="https://x.com">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="row row-cols-3 text-center">
            <div class="col">Facebook</div>
            <div class="col">Instagram</div>
            <div class="col">X</div>
        </div>
    </div>
    <div class="col-9 text-center py-3">
        <div class="row row-cols-4 g-4">
            {% for book in page_obj %}
            <div class="card d-flex flex-column" style="border:none;">
                <a href="{% url 'show_book' book.id %}">
                    <img src="{{ book.file.url }}" class="card-img-top" alt="" style="width: 80%;" >
                </a>
                <div class="text-start py-2">
                    <h5 class="card-subtitle fw-bold fs-6">{{book.title}}</h5>
                    <p class="card-subtitle">
                        <a style="font-size:12px;" href="{% url 'author_site' book.author %}">{{ book.author }}</a>
                    </p>
                    <p class="card-subtitle fw-bold fs-5">{{ book.price }} zł</p>
                </div>
                <button onclick="addToCart({{ book.id }})" class="btn btn-sm btn-cart text-nowrap mt-auto">
                    Dodaj do koszyka
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
            {% endfor %}
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center py-3">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}