{% extends 'myapp/base.html' %}
{% block body %}
<div class="row d-flex justify-content-center">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4 my-auto">
                <img src="{{ book.file.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">${{ book.price }}</p>
                    <p class="card-text">{{ book.description }}</p>
                    <p class="card-text fw-bold">
                        {% for gen in book.genres.all %}
                            {{ gen.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <p class="card-text"><small class="text-muted">Created: {{ book.created }}</small></p>
                    <p class="card-text"><small class="text-muted">Modified: {{ book.modified }}</small></p>
                    <p class="card-text"><small class="text-muted">{{gen}}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}